{{> components/orbooks/section-head
    title=(lang 'products.featured')
    url="/reading-lists/the-palestine-list/"
}}

<ul class="productGrid productGrid--maxCol{{ columns }} productCarousel newprd-sale" data-product-type="featured" {{#if settings.data_tag_enabled}} data-list-name="Featured Products" {{/if}}>
    {{#each products}}
        <li class="product">
                {{>components/orbooks/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
</ul>
