{{#if theme_settings.homepage_new_products_column_count ">" 10}}
    <h2 class="page-heading">{{lang 'products.top' }}</h2>

    <ul class="productCarousel newprd" data-product-type="top_sellers"  {{#if settings.data_tag_enabled}} data-list-name="Most Popular Products" {{/if}}>

    {{#each products}}
    <li class="product productCarousel-slide">
        {{>components/orbooks/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </li>
    {{/each}}
    </ul>
    {{else}}
    <h2 class="page-heading">{{lang 'products.top' }}</h2>
    <ul class="productCarousel singleprd" data-product-type="top_sellers"  {{#if settings.data_tag_enabled}} data-list-name="Most Popular Products" {{/if}}>

        {{#each products}}
        <li class="product productCarousel-slide">
            {{>components/orbooks/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
        {{/each}}
        </ul>
{{/if}}
