.custom-page {}

.page_navigation {

    .arrow {
        stroke: #000;
    }
}

// Sitemap Css
.sitemap-page {
    .container {
        @include breakpoint(1440px) {
            width: 66.66667%;
        }
    }    ul {
        li {            a {
                @include hs-400;
                color: stencilColor('title_color');
                @include medium {
                    font-size: 15px;
                }
                @include xlarge {
                    font-size: 16px;
                }
                @include xxlarge {
                    font-size: 18px;
                }
                &:hover {
                    color: stencilColor("button--primary-backgroundColorHover");
                }
            }
        }
    }
}

//Search Page css
.search-page {    .navBar-section {
        li {
            a {
                @include hc-400;
                color: stencilColor('title_color');
                @include xlarge {
                    font-size: 18px;
                }
                &:hover {
                    color: stencilColor("button--primary-backgroundColorHover");
                }
                &.navBar-action-color--active {
                    text-decoration: underline;
                    color: stencilColor("button--primary-backgroundColorHover");
                }
            }
        }
    }
    .advancedSearch-title {
        @include hc-400;
    }
    .form-row {
        .form-field {
            .form-label  {
                color: stencilColor('title_color');
            }
            .form-input{
                color: #8d8d8d;
            }
        }
    }
    .pagination {
        @include xlarge {
            margin-top: 30px;
        }
    }
}

// FAQ pages css 

.defaultcnt-main {    p, li {
        @include hs-400;
        font-size: 14px;
        color: $color-greyDarkest;
        line-height: 1.6;
        list-style: disc;
        @include medium {
            font-size: 15px;
        }
        @include xlarge {
            font-size: 16px; 
        }
        @include xxlarge {
            font-size: 18px; 
        }
    }
    a {
        color: $color-greyDarkest;
        &:hover {
            color: stencilColor("button--primary-backgroundColorHover");
        }
    }
    .defaultcnt-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        @include medium {
            flex-direction: initial;
            align-items: flex-start;
        }
        img {
            margin-bottom: 20px;
            @include medium {        
                margin-bottom: 0;
                padding-left: 30px;
                max-width: 550px;
            }
            @include xxlarge {
                max-width: 700px;
            }
        }
    }}
.search_page {
    .actionBar {
        .form-fieldset {
            .form-field {
                border: none;
                margin: 0;
                display: flex;
                align-items: center;

                .form-label {
                    font-size: 16px;
                    line-height: 20px;
                    @include hc-400;
                    color: $color-greyDarkest;
                    margin: 0 10px 0 0;
                    padding: 0;
                    @include small {
                        margin: 0 20px 0 0;
                    }
                    @include medium {
                        font-size: 18px;
                    }
                    @include xlarge {
                        font-size: 20px;
                    }
                    @include xxlarge {
                        font-size: 22px;
                    }
                }

                .form-select {
                    @include hc-400;
                    font-size: 14px;
                    line-height: 1.1;
                    color: $color-greyDarkest;
                    height: auto;
                    padding: 6px 25px 6px 10px;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    background-image: url('../icons/dropdown-svg.svg');
                    position: relative;
                    background-position: right 10px center;
                    background-size: 10px;

                    @include medium {
                        font-size: 18px;
                    }
                    @include large {
                    }
                    @include xlarge {
                        font-size: 20px;
                    }
                    @include xxlarge {
                        padding: 16px 30px 16px 20px;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
