 <h2 class="page-heading">About Us</h2>
   <div class="pagetext">
    <p>OR Books is a new type of publishing company. It embraces progressive change in politics, culture and the way we do business.</p>
    <p>Our list is highly selective: we publish just three books a month, combining established authors with new discoveries.Our editorial standards are fastidious, our design clear and elegant. We employ exciting promotion with highly creative use of video and the Internet.</p>
    <p>To avoid the waste of unsold stock and returns, we try, where possible, to produce our books only when they are wanted, as print-on-demand and platform-agnostic e-books. We print locally, in the USA, UK, India and Australia. This system allows a rapid publishing turnaround so relevant books can intervene quickly in issues of the day.Though we are pleased distribute our books to stores (especially independents) and online platforms, it is most advantageous for both our authors and us when we sell directly to you, the customer, shipping promptly when a book is released.Our approach jettisons the inefficiencies of conventional publishing to better serve readers, writers and the environment.</p>
    <p>It points to a new future for book publishing. We hope you will join with us.</p></br></br>
    </hr>
    
    <p style="font-size: 24px;">&ldquo;A publisher of dissident voices.&rdquo;
        <br>&mdash;<strong>David Richter, <em>Book Culture</strong></em></p>
   <p style="font-size: 24px;">&ldquo;OR Books has firmly established itself as the go-to source for titles that challenge the status
        quo and suggest options for moving beyond our current ruts.&rdquo;
        <br>&mdash;<strong>Ben Terrall,<em>CounterPunch</strong></em><p/>
   <p style="font-size: 24px;">&ldquo;A great, exciting project!&rdquo;
        <br> &mdash;<strong>Cory Doctorow, <em>BoingBoing</strong></em></p>
   <p style="font-size: 24px;">&ldquo;Over the last five years, Oakes and co-founder Colin Robinson have turned OR into one of the most original publishers in the US.&rdquo;
        <br>&mdash;<strong>Jonathon Sturgeon, <em>Flavorwire</strong></em></p>
  <p style="font-size: 24px;">&ldquo;How imaginative and creative the New York-based independent publishing house, OR Books, has become since its foundation in 2009.&rdquo;
        <br>&mdash;<strong>Matthew d&rsquo;Ancona, <em>Tortoise Media</strong></em></p>
        </hr>
</br></br>
<h2 class="page-heading">Who we are</h2>
<!--<div class="publishedon">
    <p>From Publishers Lunch, May 31, 2009 | Photo &copy; 2009 Miriam Berkley</p>
</div>-->
<div class="pagetext">
    <p>OR Books was founded by John Oakes and Colin Robinson in 2009. </p>

    <p><strong>Colin Robinson</strong>, publisher. Robinson worked as a senior editor at Scribner and was previously
        managing director of Verso Books and publisher of The New Press. Among the authors he has published are Tariq
        Ali, Noam Chomsky, Alexander Cockburn, Mike Davis, Norman Finkelstein, Eduardo Galeano, Eric Hobsbawm, Lewis
        Lapham, Mike Marqusee, Rigoberta Menchú, Matt Taibbi and Jann Wenner. He has written for publications including
        <em>The New York Times</em>, <em>The London Review of Books</em>, <em>The Sunday Times</em> (London) and The Guardian</em> (London),and has
        appeared on broadcast media including NPR (“On the Media”), CNN, MSNBC, CBC and CSPN.</p>

    <p><strong>John Oakes</strong>, editor-at-large. Oakes co-founded the book publisher Four Walls Eight Windows, which
        was purchased by the Avalon Publishing Group. Among the authors he has published are Andrei Codrescu, Sue Coe,
        R. Crumb, Cory Doctorow, Andrea Dworkin, Abbie Hoffman, Gordon Lish, Harvey Pekar, Rudy Rucker, John Waters and
        Edmund White. Oakes is a former board member of PEN America. He has written for the <em>Associated Press</em>,
        the <em>International Herald Tribune</em>, and the <em>Review of Contemporary Fiction</em>. He is publisher of
        <em><a href="https://evergreenreview.com/">The Evergreen Review</a></em> and the author of <em><a
                href="https://www.simonandschuster.com/books/The-Fast/John-Oakes/9781668017418">The Fast: The History,
                Science, Philosophy, and Promise of Doing Without</a></em> (Avid Reader Press/Simon & Schuster).
    </p>
    
    <div class="pageslideriframe">
    <div class="videoslide"><iframe src="https://www.youtube.com/embed/PjpgWx76rOY?si=AbC4dzGcfWusA92q" width="320"
            height="240" frameborder="0" allowfullscreen=""></iframe></div>
    <div class="videoslide"><iframe src="https://player.vimeo.com/video/18710874?h=e85fd6e386" width="320" height="240"
            frameborder="0" allowfullscreen=""></iframe></div>
    <!-- <div class="videoslide"><iframe src="https://player.vimeo.com/video/18710874?h=e85fd6e386" width="320" height="240"
            frameborder="0" allowfullscreen=""></iframe></div>-->
</div>
   
</div>
<h2 class="page-heading">Launching OR</h2>
<div class="cntslider">
    <div class="cntimg"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/about-img-slider.jpg"
            alt="" />
        <div class="publishedon">
            <div class="publishedon">
                <p>From Publishers Lunch, May 31, 2009 | Photo &copy; 2009 Miriam Berkley</p>
            </div>
        </div>
    </div>
</div>
<div class="pagetext">
    <p>In a voyage abundant in metaphors (and blessed with sunshine) publishing veterans John Oakes and Colin Robinson
        literally launched their new venture OR Books on an old fireboat from a pier eight blocks south of the Javits
        center on Sunday afternoon. The boat chugged leisurely around the south end of Manhattan, past the Statue of
        Liberty and right past the giant Queen Mary 2 in Red Hook. From a megaphone on the top deck they hailed their
        “politically progressive and culturally adventurous” content paired with a “revolutionary approach to business.”
    </p>

    <p>In other words, they aim to sell non-returnable only and print only on-demand (or not at all via e-books). And
        they pledge to spend the money saved on inventory on marketing instead. Oakes said they want to “affirm the
        partnership between publishers and authors.” Robinson added that a publisher’s “first obligation is to find
        readers for the books they’re publishing” and commented, “we know the existing system doesn’t work. We’re going
        to try something new.” Oakes added, “If the boat goes down, there goes the future of publishing.”</p>
</div>
<h2 class="page-heading">The OR Space</h2>
<div class="cntslider">
    <div class="cntimg"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/about-us-the-or-space3.jpg?t=1705948689"
            alt="" /></div>
    <div class="cntimg"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/about-us-the-or-space.jpg?t=1705948680"
            alt="" /></div>
    <div class="cntimg"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/about-us-the-or-space2.jpg?t=1705948684"
            alt="" /></div>
</div>
<div class="pagetext">
    <p>OR Books’ office is located at the rear of the <a href="https://www.franciskiteclub.com/"><strong>Francis Kite
                Club</strong></a>, a bar and event space on Avenue C in the East Village, New York City. OR hosts
        regular events in the space and livestreams many of them. Find out what’s coming up <a
            href="https://orbooks.com/events/"><strong>here</strong></a>.</p>
</div>
