<div class="side-category-image">
    <div class="reading-list-title"><h2><a href="/reading-lists/">reading lists</a></h2></div>
    <div class="side-category-image-data">
        
         <div class="side-category-image-card">
            <a href="https://orbooks.com/reading-lists/the-pride-reading-list/">
                <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/reading-list-panels4.jpg?t=1718268899" alt="">
            </a>
        </div>
        
        <div class="side-category-image-card">
            <a href="https://orbooks.com/reading-lists/the-free-assange-reading-list/">
                <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/reading-list-panels.jpg?t=1718268892" alt="">
            </a>
        </div>
        <div class="side-category-image-card">
            <a href="https://orbooks.com/reading-lists/the-save-palestine-reading-list/">
                <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/reading-list-panels2.jpg?t=1718268894" alt="">                
            </a>
        </div>
        <div class="side-category-image-card">
            <a href="https://orbooks.com/decolonize-that/">
                <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/reading-list-panels-new3.png?t=1708453665" alt="">
            </a>
        </div>
       <div class="side-category-image-card">
            <a href="https://orbooks.com/reading-lists/the-womens-history-month-list/">
                <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/reading-list-panels3.jpg?t=1718268897" alt="">
            </a>
        </div>
      
    </div>
    <div class="reading-btn cat-btn">
        <a class="button button--primary" href="/reading-lists/">view all</a>
    </div>
</div>
