<div class="reading-list">
    <div class="reading-list-title"><h2>reading list</h2></div>
    <div class="reading-list-slider">
        <div class="reading-list-data" data-slick='{
            "infinite": true,
            "mobileFirst": false,
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "dots": false,
            "arrow": true,
            "responsive": [
                {
                    "breakpoint": 800,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 1
                    }
                },
                {
                    "breakpoint": 550,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 1
                    }
                }
            ]
        }'>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_1.jpg" alt=""/>
            </div>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_2.jpg" alt=""/>
            </div>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_3.jpg" alt=""/>
            </div>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_4.jpg" alt=""/>
            </div>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_1.jpg" alt=""/>
            </div>
            <div class="reading-list-card">
                <img src="https://store-4rbj5oww8j.mybigcommerce.com/content/category_page/image_2.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
