

<!--<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/2025-spring.jpg?t=1743002862"
            alt="img" /></div>
    <div class="event-details">
        <span></span>
        <a href="#">OR Books: Live on Ave C Talking Alternatives </a>
        <p> Spring 2025 </p>
    </div> 
    <a href="https://www.eventbrite.com/cc/or-books-live-on-ave-c-talking-alternatives-3754519?just_published=true" class="button button--primary sub-btn"> RSVP </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-wor.jpg?t=1744820308"
            alt="img" /></div>
    <div class="event-details">
        <span> May 7, 2025 </span>
       <a href="#">OR Books <em> WRITING ON RAVING </em></a>
        <p> Zoe Beery, Geoffrey Mak, Destiny Brundidge, and Katie Way </p>
    </div>
    <a href="https://www.eventbrite.com/e/or-books-live-on-ave-c-writing-on-raving-tickets-1207816093449?aff=oddtdtcreator" class="button button--primary sub-btn"> RSVP </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live.jpg?t=1743020130"
            alt="img" /></div>
    <div class="event-details">
        <span> May 8, 2025 </span>
       <a href="#">OR Books <em> I'LL BURN THAT BRIDGE WHEN I GET TO IT </em></a>
        <p> Norman Finkelstein and Briahna Joy Gray </p>
    </div>
    <a href="https://www.eventbrite.com/e/or-books-live-on-ave-c-ill-burn-that-bridge-when-i-get-to-it-tickets-1225267029669?aff=oddtdtcreator" class="button button--primary sub-btn"> RSVP </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-254.jpg?t=1743002828"
            alt="img" /></div>
    <div class="event-details">
        <span> May 28, 2025 </span>
       <a href="#">OR Books <em> MUSEUM OF DEGENERATES </em></a>
        <p> Eli Valley and Molly Crabapple </p>
    </div>
    <a href="https://www.eventbrite.com/e/or-books-live-on-ave-c-museum-of-degenerates-tickets-1225274913249?aff=oddtdtcreator" class="button button--primary sub-btn"> RSVP </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-eb-cards-cuomo.jpg?t=1744756912"
            alt="img" /></div>
    <div class="event-details">
        <span> June 18, 2025 </span>
       <a href="#">OR Books <em> CUOMO: Return of the Dark Prince </em></a>
        <p> Ross Barkan and Katrina vanden Heuvel </p>
    </div>
    <a href="https://www.eventbrite.com/e/or-books-live-on-ave-c-cuomo-return-of-the-dark-prince-tickets-1326014568269?aff=oddtdtcreator"> RSVP </a>
</div>-->



<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/rc2.jpg?t=1780501701"
            alt="img" /></div>
    <div class="event-details">
        <span> June 17, 2026 </span>
       <a href="#"> RED CARD </a>
        <p> Jules Boykoff and Dave Zirin </p>
    </div>
     <a href="https://www.youtube.com/live/WjwVICQfsvg" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-events-2026-complicit-lens-web-2.jpg?t=1774893404"
            alt="img" /></div>
    <div class="event-details">
        <span> June 10, 2026 </span>
       <a href="#"> THE COMPLICIT LENS </a>
        <p> Rashid Khalidi, Robin Andersen, Hilary Rantisi </p>
    </div>
     <a href="https://www.youtube.com/watch?v=JjkIfLkcg2A" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/kbh-2.jpg?t=1773777150"
            alt="img" /></div>
    <div class="event-details">
        <span> May 13, 2026 </span>
       <a href="#"> KILLING BABY HITLER </a>
        <p> Michael Tomasky and Molly Jong-Fast </p>
    </div>
     <a href="https://www.youtube.com/watch?v=9Kl9dWeGxmM"class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-events-2026-at-1.jpg?t=1773690348"
            alt="img" /></div>
    <div class="event-details">
        <span> May 6, 2026 </span>
       <a href="#"> AMERICAN TRICKSTER </a>
        <p> Ru Marshall and Lisa Cohen </p>
    </div>
     <a href="https://www.youtube.com/watch?v=Sni_O3HIQfU" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/dtny.jpg?t=1770432809"
            alt="img" /></div>
    <div class="event-details">
        <span> April 15, 2026 </span>
       <a href="#"> DUCHAMP TAKES NEW YORK WORK </a>
        <p> John Strausbaugh and Peter-Christian Aigner </p>
    </div>
     <a href="https://www.youtube.com/watch?v=Bh7_yxLBI48" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sw.jpg?t=1773690309"
            alt="img" /></div>
    <div class="event-details">
        <span> April 1, 2026 </span>
       <a href="#"> SEARCH WORK </a>
        <p> Rachel Meade Smith, Eduardo Lytton, Jasper Nathaniel, Gabriella Rhodeen, Jordan White </p>
    </div>
     <a href="https://www.youtube.com/live/CQEnHPhnu_o?si=xX1mz_ABEbKCUbQX" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/the-long-war-on-iran-web.jpg?t=1766436377"
            alt="img" /></div>
    <div class="event-details">
        <span> March 4, 2026 </span>
       <a href="#"> THE LONG WAR ON IRAN </a>
        <p> Behrooz Ghamari and Narges Bajoghli </p>
    </div>
     <a href="https://www.youtube.com/live/TCCd1CVBiX4?si=p_z19MAtG4HERjaq" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/tmort.jpg?t=1766436356"
            alt="img" /></div>
    <div class="event-details">
        <span> February 25, 2026 </span>
       <a href="#"> THE MYTH OF RED TEXAS </a>
        <p> David Griscom and Emma Vigeland </p>
    </div>
     <a href="https://www.youtube.com/live/6uNcMnXrMSk?si=76AylAV0lgDnMogV" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/acloac.jpg?t=1765833478"
            alt="img" /></div>
    <div class="event-details">
        <span> January 22, 2026 </span>
       <a href="#"> AMERICAN CARNAGE </a>
        <p> Sasha Abramsky and Elie Mystal </p>
    </div>
     <a href="https://www.youtube.com/live/BeUdQJHHMNQ?si=XaeXqxu0QCytYkR4" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/molly.jpg?t=1760724230"
            alt="img" /></div>
    <div class="event-details">
        <span> December 3, 2025 </span>
       <a href="#"> CAN YOU SEE THE NEW WORLD THROUGH THE TEAR GAS?</a>
        <p> Molly Crabapple and Liara Roux </p>
    </div>
     <a href="https://www.youtube.com/live/i61j6sJzt9o?si=TspQEp7qpLFoLkda" class="button button--primary sub-btn"> Watch the event </a>
</div>  
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/almanacevent.jpg?t=1763404129"
            alt="img" /></div>
    <div class="event-details">
        <span> November 20, 2025 </span>
       <a href="#"> THE OTHER ALMANAC 2026 </a>
        <p> Ana Ratner, Indigo Goodson-Fields, Isabel Ling, Kay Kasparhauser, Kristine Rumman, Shannon Lee, Zoe Lescaze </p>
    </div>
     <a href="https://www.youtube.com/live/YS5w3KgifRY?si=sOXVey-jRCP2aXBy" class="button button--primary sub-btn"> Watch the event </a>
</div>                      
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-whic1.jpg?t=1757425475"
            alt="img" /></div>
    <div class="event-details">
        <span> November 12, 2025 </span>
       <a href="#">WE HAD IT COMING </a>
        <p> Luke O'Neil, Spencer Ackerman, Kylie Cheung, Edward Ongweso, Grace Robins-Somerville  </p>
    </div>
     <a href="https://www.youtube.com/live/ZqTFIms3hps?si=OrGk-UnCSHGqPYw_" class="button button--primary sub-btn"> Watch the event </a>
</div>   
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/wcfy.jpg?t=1756835201"
            alt="img" /></div>
    <div class="event-details">
        <span> October 29, 2025 </span>
       <a href="#"> WE'RE COMING FOR YOU AND YOUR ROTTEN SYSTEM</a>
        <p> Jonathan Rosenblum, ALU oragnizer Sultana Hossain, the DSA Choir </p>
    </div>
     <a href="https://www.youtube.com/@ORBooksChannel" class="button button--primary sub-btn"> Watch the event </a>
</div>                    
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-theninehavespoken-web.jpg?t=1756773480"
            alt="img" /></div>
    <div class="event-details">
        <span> October 22, 2025 </span>
       <a href="#">THE NINE HAVE SPOKEN</a>
        <p> Richard Kreitner and Elie Mystal </p>
    </div>
     <a href="https://www.youtube.com/live/nN9uhrEgR-E" class="button button--primary sub-btn"> Watch the event </a>
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/rzr1.jpg?t=1757702780"
            alt="img" /></div>
    <div class="event-details">
        <span> October 16, 2025 </span>
       <a href="#"> RUN ZOHRAN RUN!</a>
        <p> Ted Hamm and Liza Featherstone </p>
    </div>
     <a href="https://www.youtube.com/watch?v=yBA5roqGcEA" class="button button--primary sub-btn"> Watch the event </a>
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/fall-2025-loac-posters-2.jpg?t=1755136108"
            alt="img" /></div>
    <div class="event-details">
        <span> October 8, 2025 </span>
       <a href="#">HITLER AND MY MOTHER-IN-LAW </a>
        <p> Terese Svoboda and Helen Benedict </p>
    </div>
     <a href="https://www.youtube.com/live/gWqGegDfOwg?si=xoNbmE8ct3Q8wZ5n" class="button button--primary sub-btn"> Watch the event </a>
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/e2.jpg?t=1756912940"
            alt="img" /></div>
    <div class="event-details">
        <span> October 1, 2025 </span>
       <a href="#">Eileen Myles Reading </a>
        <p>Featuring Em DeVincentis, Ashley Escobar, Riley Mac, Coco Gordon Moore, sadé powell </p>
    </div>
     <a href="https://www.youtube.com/live/6-Z276LJpVY?si=kS2zJ65WI7cSexG3" class="button button--primary sub-btn"> Watch the event </a>
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-ftfttc1.jpg?t=1757424457"
            alt="img" /></div>
    <div class="event-details">
        <span> September 24, 2025 </span>
       <a href="#"> FROM THE FLAG TO THE CROSS </a>
        <p>Kshama Sawant, Rick Wolff, Margaret Kimberley, Michael Smith </p>
    </div>
     <a href="https://www.youtube.com/watch?v=Pjg5KNNAT9E" class="button button--primary sub-btn"> Watch the event </a>
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-a-seat-at-the-table-1.jpg?t=1754410330"
            alt="img" /></div>
    <div class="event-details">
        <span> September 10, 2025 </span>
       <a href="#"> A SEAT AT THE TABLE </a>
        <p>Andy Shallal and Linda Sarsour </p>
    </div>
     <a href="https://www.youtube.com/live/K8thtCcV3RI?si=jdd2xJr67ycIZXd7" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/pic.jpg?t=1753028763"
            alt="img" /></div>
    <div class="event-details">
        <span> July 18, 2025 </span>
       <a href="#">Norman Finkelstein, Cornel West and Nadine Strossen </a>
    </div>
     <a href="https://www.youtube.com/watch?v=yBaGqy9h0eE&t=8954s" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/loac-nation-vertical.jpg?t=1749134059"
            alt="img" /></div>
    <div class="event-details">
        <span> June 17, 2025 </span>
       <a href="#">OR Books x Nation Books </a>
    </div>
     <a href="https://www.youtube.com/watch?v=IEJkKapF3jY" class="button button--primary sub-btn"> Watch the event </a>
</div>


<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-254.jpg?t=1743002828"
            alt="img" /></div>
    <div class="event-details">
        <span> May 28, 2025 </span>
       <a href="#"> MUSEUM OF DEGENERATES </a>
        <p>Eli Valley and Molly Crabapple </p>
    </div>
     <a href="https://www.youtube.com/watch?v=ncdW2tqGZnw&t=1688s" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live.jpg?t=1743020130"
            alt="img" /></div>
    <div class="event-details">
        <span> May 8, 2025 </span>
       <a href="#"> I'LL BURN THAT BRIDGE WHEN I GET TO IT </a>
        <p>Norman Finkelstein and Briahna Joy Gray </p>
    </div>
     <a href="https://www.youtube.com/watch?v=Y3SldRLSd6c&t=1473s" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/wor1.jpg?t=1745793479"
            alt="img" /></div>
    <div class="event-details">
        <span> May 7, 2025 </span>
       <a href="#"> WRITING ON RAVING </a>
        <p>Co-editors Zoe Beery, Geoffrey Mak, Hell Gate Katie Way, and artist Destiny B</p>
    </div>
     <a href="https://www.youtube.com/live/A3aZ2XG6tMM?si=ziH8d2JummzrrSNh" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-4.10.25-1-.jpg?t=1742254318"
            alt="img" /></div>
    <div class="event-details">
        <span> April 10, 2025 </span>
       <a href="#">THE ACTIVISM OF ART</a>
        <p>Co-authors Dipti Desai and Stephen Duncombe and featured artsits</p>
    </div>
     <a href="https://www.youtube.com/watch?v=J-tjlG0rvLo&t=851s" class="button button--primary sub-btn"> Watch the event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avc-c-feb.jpg?t=1738089276"
            alt="img" /></div>
    <div class="event-details">
        <span>February 25, 2025 </span>
        <a href="#"> Live on Ave C </a>
        <p> Gary Younge and Keeanga Yamahtta Taylor</p>
    </div>
    <a href="https://www.youtube.com/live/LKW0SpIq1Ik" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-12.4-2a3.jpg?t=1732924051"
            alt="img" /></div>
    <div class="event-details">
        <span>December 4, 2024</span>
        <a href="#">IF I MUST DIE: In Remembrance of Refaat Alareer </a>
        <p> Rashid Khalidi, Debra Winger, Najla Said, Sinan Antoon, Norman Finkelstein, Sara Roy, and Mosab Abu Toha </p>
    </div>
    <a href="https://www.youtube.com/watch?v=oggllFnlRRo&t=6767s" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-nov-20.jpg?t=1729106829"
            alt="img" /></div>
    <div class="event-details">
        <span>November 3, 2024</span>
        <a href="#"> Live on Ave C Political Art </a>
        <p> Eli Valley and Sue Coe </p>
    </div>
    <a href="https://www.youtube.com/watch?v=b1hW8fJWMEg&t=257s" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/events-poster-11.3.jpg?t=1729106836"
            alt="img" /></div>
    <div class="event-details">
        <span>November 3, 2024</span>
        <a href="#"> PROGRAM OR BE PROGRAMMED </a>
        <p> Douglas Rushkoff and Marissa Feinberg </p>
    </div>
    <a href="https://www.youtube.com/watch?v=mk4oXlq7tgY&t=3425s" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c-oct-23.jpg?t=1727752511"
            alt="img" /></div>
    <div class="event-details">
        <span>October 23, 2024</span>
        <a href="#"> BEAUTIFUL SOLUTIONS </a>
        <p> An evening with the editors </p>
    </div>
    <a href="https://www.youtube.com/watch?v=fOzDmRNubwM&t=1265s" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/event-oct-2-teaser-.jpg?t=1724251584"
            alt="img" /></div>
    <div class="event-details">
        <span>October 2, 2024</span>
        <a href="#"> UNDERSTANDING HAMAS </a>
        <p> Rami Khouri and Helena Cobban </p>
    </div>
    <a href="https://www.youtube.com/watch?v=ugKDFs_OvoY" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/past-events2.jpg?t=1714987615"
            alt="img" /></div>
    <div class="event-details">
        <span>April 10, 2024</span>
        <a href="#"> DELUGE </a>
        <p>Norman Finkelstein, Slavoj Žižek, Jamie Stern-Weiner, Colter Louwerse and Mouin Rabbani.</p>
        </div>
    <a href="https://youtu.be/bWiyYkEQzPw?si=yPvEWrg1tdVpyntM" target="_blank" rel="noreferrer noopener" class="button button--primary sub-btn"> Watch the Event </a>
</div>


<!--<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/events-posters-interim4.jpg?t=1715268200"
            alt="img" /></div>
    <div class="event-details">
        <span>June 17, 2024</span>
        <a href="#">OR Books Live on Ave C <em>Deadly Betrayal</em></a>
        <p>Dennis Fritz, Larry Wilkerson, and Ben Cohen</p>
    </div>
    <a href="mailto:events@orbooks.com" target="_blank rel="noreferrer noopener" class="button button--primary sub-btn"> RSVP to events@orbooks.com </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/events-posters-interim.jpg?t=1715268269"
            alt="img" /></div>
    <div class="event-details">
        <span>June 5, 2024</span>
        <a href="#">Brooklyn Public Library <em>Flights</em></a>
        <p>Joel Whitney and Amitav Gosh</p>
    </div>
   <a href="https://www.bklynlibrary.org/calendar/joel-whitney-presents-central-library-dweck-20240605-0700pm" target="_blank rel="noreferrer noopener" class="button button--primary sub-btn"> RSVP </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/events-posters-interim2.jpg?t=1715267868"
            alt="img" /></div>
    <div class="event-details">
        <span>June 5, 2024</span>
        <a href="#">OR Books Live on Ave C  <em>Abolition Labor</em></a>
        <p>Tommaso Bardelli, Andrew Ross and Aiyuba Thomas</p>
    </div>
   <a href="mailto:events@orbooks.com" target="_blank rel="noreferrer noopener" class="button button--primary sub-btn"> RSVP to events@orbooks.com </a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/flights-ig.png?t=1715106008"
            alt="img" /></div>
    <div class="event-details">
        <span>May 30, 2024</span>
        <a href="#">McNally Jackson presents <em>Flights</em></a>
        <p>Joel Whitney and Bhaskar Sunkara</p>
    </div>
   <a href="https://www.mcnallyjackson.com/event/joel-whitney-presents-flights-event"  target="_blank rel="noreferrer noopener" class="button button--primary sub-btn"> RSVP</a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/cc-may-15-ig-vertical-post.jpg?t=1715012805"
            alt="img" /></div>
    <div class="event-details">
        <span>May 15, 2024</span>
        <a href="#">OR Books Live on Ave C <em>Corporate Coup</em></a>
        <p>Anya Parampil, Max Blumenthal and Aaron Mate</p>
    </div>
   <a href="mailto:events@orbooks.com" target="_blank rel="noreferrer noopener" class="button button--primary sub-btn">RSVP to events@orbooks.com</a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/past-events2.jpg?t=1714987615"
            alt="img" /></div>
    <div class="event-details">
        <span>April 10, 2024</span>
        <a href="#">OR Books Live on Avenue C <em>Deluge</em></a>
        <p>Norman Finkelstein, Slavoj Žižek, Jamie Stern-Weiner, Colter Louwerse and Mouin Rabbani.</p> </div>
    <a href="https://youtu.be/bWiyYkEQzPw?si=yPvEWrg1tdVpyntM" target="_blank rel="noreferrer noopener" class="button button--primary sub-btn">Watch on YouTube</a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/luke-event10-b.jpg?t=1691496039"
            alt="img" /></div>
    <div class="event-details">
        <span>April 8, 2023</span>
        <a href="#">Creature Wanting Form</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    <a href="#" class="button button--primary sub-btn">Show Event</a>
</div>

<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/wiu-ads2.jpg?t=1691497405"
            alt="img" /></div>
    <div class="event-details">
        <span>April 23, 2023</span>
        <a href="#">War In Ukraine</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    <a href="#" class="button button--primary sub-btn">Show Event</a>
</div>


<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/pftm-launch-invitation.jpg?t=1701701915"
            alt="img" /></div>
    <div class="event-details">
        <span>November 21, 2022</span>
        <a href="#">Poetry For The Many</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/live-on-avenue-c.jpg?t=1701701912"
            alt="img" /></div>
    <div class="event-details">
        <span>October 12, 2022</span>
        <a href="#">Norman Finkelstein and Aaron Mate</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/640w/uploaded_images/rectangle-34-2-.jpg"
            alt="img" /></div>
    <div class="event-details">
        <span>August 12, 2022</span>
        <a href="#">First 5 event</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/640w/uploaded_images/blog-image.jpg"
            alt="img" /></div>
    <div class="event-details">
        <span>August 12, 2022</span>
        <a href="#">First 6 event</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/640w/uploaded_images/rectangle-34-2-.jpg"
            alt="img" /></div>
    <div class="event-details">
        <span>August 12, 2022</span>
        <a href="#">First 7 event</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>
<div class="event-card">
    <div class="event-img"><img
            src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/640w/uploaded_images/blog-image.jpg"
            alt="img" /></div>
    <div class="event-details">
        <span>August 12, 2022</span>
        <a href="#">First 8 event</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores adipisci reiciendis labore
            facere nesciunt, accusamus possimus, vitae consequuntur molestias, accusantium minima ut iste deleniti
            temporibus quia aliquid aliquam dignissimos!</p>
    </div>
    
    <a href="#" class="button button--primary sub-btn">Show Event</a>
    
</div>-->




