
{{#if settings.data_tag_enabled}}
    <article class="listItem" data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}">
{{else}}
    <article class="listItem" data-entity-id="{{id}}">
{{/if}}
    <div class="sub-listItem">
        <div class="product-data">
            <figure class="listItem-figure">
                <a href="{{url}}" target="_blank"
                class="listItem-figure__link"
                aria-label="{{> components/products/product-info}}"
                {{#if settings.data_tag_enabled}}
                data-event-type="product-click"
                {{/if}}
                >
                {{#if stock_level '===' 0}}
                    {{#if theme_settings.pdp_sold_out_label '===' ''}}
                        {{> components/products/product-badge
                            badge-type='sold-out'
                            badge_view=theme_settings.product_sold_out_badges
                            badge_label=(lang "page_builder.pdp_sold_out_label")
                        }}
                    {{else}}
                        {{> components/products/product-badge
                            badge-type='sold-out'
                            badge_view=theme_settings.product_sold_out_badges
                            badge_label=theme_settings.pdp_sold_out_label
                        }}
                    {{/if}}
                {{else}}
                    {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                        {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                            {{> components/products/product-badge
                                badge-type='sale'
                                badge_view=theme_settings.product_sale_badges
                                badge_label=(lang "page_builder.pdp_sale_badge_label")
                            }}
                        {{else}}
                            {{> components/products/product-badge
                                badge-type='sale'
                                badge_view=theme_settings.product_sale_badges
                                badge_label=theme_settings.pdp_sale_badge_label
                            }}
                        {{/if}}
                    {{/or}}
                {{/if}}
                {{> components/common/responsive-img
                    image=image
                    class="listItem-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
                </a>
                <!-- {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <div class="listItem-figureBody">
                            <button type="button" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small listItem-button card-figcaption-button quickview" data-product-id="{{id}}">
                                <svg>
                                    <use href="#icon-search"/>
                                </svg>
                            </button>
                        </div>
                    {{/if}}
                {{/unless}} -->
            </figure>
            <div class="listItem-body">
                <div class="listItem-content">
                    <div class="listItem-details">
                        
                        <h4 class="listItem-title">
                            <a href="{{url}}" target="_blank"
                            aria-label="{{> components/products/product-info}}"
                            {{#if settings.data_tag_enabled}}
                            data-event-type="product-click"
                            {{/if}}
                            >
                                {{name}}
                            </a>
                        </h4>
                        <div class="card-category custom-author-field">
                            {{#each custom_fields}}
                                {{#if name '===' 'sub-heading'}}
                                    <div class="card-category-title" style="display: none;">{{name}}</div>
                                    <div class="card-category-name">{{{value}}}</div>
                                {{/if}}
                            {{/each}}
                            {{#each custom_fields}}
                                {{#if name '===' 'Author'}}
                                    <div class="card-category-title" style="display: none;">{{name}}</div>
                                    <div class="card-text">{{{value}}}</div>
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="card-warranty">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-desc">
            {{#each custom_fields}}
                {{#if name '===' 'Rights'}}
                    <p>{{{value}}}</p>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="list-link">
        <!-- <a href="{{url}}" target="_blank" class="button button--primary">find out more</a> -->
        <button type="button" class="button button--primary quickview"
        data-event-type="product-click" data-product-id="{{id}}">
        <svg>
            <use href="#icon-search" />
        </svg>
    </button>
    </div>
</article>
