<nav class="pagination">
    <ul class="pagination-list">
        <li class="pagination-item pagination-item--previous">
            <a class="pagination-link" >
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use href="#icon-arrow-left"></use>
                    </svg>
                </i>
                {{lang 'common.previous'}}
            </a>
        </li>
        <li class="pagination-item ">
            <a class="pagination-link no-link">
            </a>
        </li>
        <li class="pagination-item pagination-item--next">
            <a class="pagination-link">
                {{lang 'common.next'}}
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use href="#icon-arrow-right"></use>
                    </svg>
                </i>
            </a>
        </li>
    </ul>
</nav>
