<h2 class="photo-grid">Photo Gallery</h2>
<div class="masonry">
    <div class="brick">
        <img src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_0822.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_4145.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9027.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9029.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9034.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9039.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9124_2.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9148_3.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9243.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9267.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9275.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9290.jpg">
    </div>
    <div class="brick">
        <img
            src="https://store-4rbj5oww8j.mybigcommerce.com/product_images/photo-grid/IMG_9526.jpg">
    </div>
</div>
