<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/oggllFnlRRo?si=TJ8ZSI1gFcwdoJQn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://www.youtube.com/live/oggllFnlRRo?si=1611MaDHGObAd5Xl" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Live on Avenue C: <Em>IF I MUST DIE</Em> Book Launch</a>

        <p>An evening in remembrance of Refaat Alareer and in honor of the publication of his book of poetry and prose.



        </p>
    </div>
</div>


<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fOzDmRNubwM?si=JZ4Y2wQV17fv-8gz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://www.youtube.com/live/fOzDmRNubwM?si=JZ4Y2wQV17fv-8gz" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Live on Avenue C: Launching <em>Beautiful Solutions</em>
 </a>

        <p> A night of movement-making and organizing with the editors of the book.

        </p>
    </div>
</div>


<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/b1hW8fJWMEg?si=kWCPkZKqG-s4mrNu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/b1hW8fJWMEg?si=25qbGJTuWiC95u3a" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Live on Avenue C: Political Art Making with Sue Coe and Eli Valley
 </a>

        <p>Lanching <em></em>The Young Person's Illustrated Guide to American Fascism</em> by Sue Coe and <em>Museum of Degenerates</em> by Eli Valley.

        </p>
    </div>
</div>



<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/oaa-wVK5LaI?si=c_2QixisBrsacLMe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/uQ_R728dMLI?si=EI9ykZvQ4zF7atPx" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Live on Avenue C: Understanding Hamas, and Why That Matters
</a>

        <p>A panel discussion on <em>Understanding Hamas and Why That Matters</em>, with editors Helena Cobban and Rami Khoury, moderated by David Wildman, introduced by publisher Colin Robinson.
 



        </p>
    </div>
</div>

<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/uQ_R728dMLI?si=880-1VFV0sV3EDxi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/uQ_R728dMLI?si=EI9ykZvQ4zF7atPx" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">BECKETT'S CHILDREN: Michael Coffey in conversation with Lois Oppenheim</a>

        <p>OR Books author Michael Coffey speaks with Lois Oppenheim about his new book, BECKETT's CHILDREN: A Literary Memoir. 



        </p>
    </div>
</div>

<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/HvaArx8bGkA?si=TV-Z8hv1GxGv5Ibh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/HvaArx8bGkA?si=TV-Z8hv1GxGv5Ibh" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Norman Finkelstein & Jamie Stern-Weiner - Gaza: Crisis, Cataclysm & Change (King's College London)</a>

        <p>Norman Finkelstein and Deluge editor, Jamie Stern-Weiner spoke to King's College London (KCL) Students for Justice for Palestine and the King's Stands 4 Justice encampment on 15th May 2024.


        </p>
    </div>
</div>


<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/bWiyYkEQzPw?si=m-7kDODvj3INTR20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/bWiyYkEQzPw?si=m-7kDODvj3INTR20" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">(Enhanced Audio) Live on Avenue C: DELUGE Book Launch</a>

        <p>A conversation series by OR Books on the current catastrophe in Gaza with Norman Finkelstein, Slavoj Zizek, Mouin Rabbani, Colter Louwerse, moderated by Razia Iqbal.


        </p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/vTk6aYdmoME?si=uJBbbO2K78-VQ87b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/vTk6aYdmoME?si=Lx4kF-2B9hU7VSeY" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Author Henry Cockburn introduces his new book, TALE OF AHMED.</a>

        <p>Written in the form of an epic poem and richly illustrated by the author, TALE OF AHMED is a gripping fictional account of the dangerous journey of a teenage boy who travels from Afghanistan, across the Middle East and Europe, to seek refuge in England.

        </p>
    </div>
</div>

<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Dn715Q0sP_k?si=I0rgfoM82drw7X3-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://www.youtube.com/live/Dn715Q0sP_k?si=I0rgfoM82drw7X3-" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Live on Avenue C: DELUGE Book Launch</a>
        <p>A conversation on the current catastrophe in Gaza with Norman Finkelstein, Slavoj Zizek, Mouin Rabbani, Jamie Stern Weiner, Colter Louwerse, moderated by Razia Iqbal.

        </p>
    </div>
</div>

<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/1X_KdkoGxSs?si=Xsa8epsmeGBb8gFj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/1X_KdkoGxSs?si=oAeAtxjPtH9OPWTt" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Watch Norman Finkelstein, Benny Morris, Mouin Rabbani and Destiny on the Lex Fridman Podcast</a>
        <p>Here's the 5-hour Israel-Palestine debate with Norman Finkelstein, Benny Morris, Mouin Rabbani, and Steven Bonnell (aka Destiny). It was an in-depth, passionate exploration of the history, present, and future of Israel and Palestine.
        </p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/gKm7y3diJhY?si=HZnPnrOMudYQVpQP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/gKm7y3diJhY?si=HZnPnrOMudYQVpQPhttps://youtu.be/Fjop0IjwviE?si=PZSIzX4qrgfr9aqS" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Jeremy Corbyn reads Mahmoud Darwish, Palestinian Poet, live from Liverpool, with Len McCluskey</a>
        <p>Jeremy Corbyn reads "In Jerusalem" by Mahmoud Darwish,  live from Liverpool.  With Len McCluskey and Karie Murphy.  From their new anthology "Poetry For The Many."  </p>
    </div>
</div>

<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Fjop0IjwviE?si=HGeItWsN41OJbT0t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/Fjop0IjwviE?si=PZSIzX4qrgfr9aqS" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Weaponizing Anti-Semitism - how Jeremy Corbyn was destroyed by smear campaign led by Israel</a>
        <p>Investigative journalist Asa Winstanley and guests - Ken Loach, Andrew Feinstein, Huda Ammori - discuss how Labour's "Anti-Semitism crisis" was manufactured by pro-Israel groups to destroy Jeremy Corbyn's bid for power as leader of the Labour Party in the UK.  </p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/TL0YJJbqbDs?si=gamAkLnJ5d9rlMSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://www.youtube.com/watch?v=TL0YJJbqbDs&t=745s" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Norman Finkelstein, Aaron Maté -- on Gaza, Genocide, Laws of War, and Moral Idiots - LIVE ON AVE C</a>
        <p>Does Israel have genocidal intent in Gaza, is Israel violating the laws of war?
Moral idiocy in the Israel-Gaza context.Norman Finkelstein, historian and radical leftist icon, and Aaron Maté, of The Grayzone and Useful Idiots, in a provocative discussion about Israel's war on Gaza, the meaning of Hamas' atrocities, the question of genocide and ethnic cleansing of Palestinians, and U.S. complicity.  </p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Lp5Hwgut0O4?si=6KlNChv99q15Aror" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/Lp5Hwgut0O4?si=_qcR43okSl2_nOfs" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">A Scholar of Activism Goes Fishing</a>
        <p>The process is really important, not the product. Sometimes you have successes, but most often you don’t. If you don’t love the process, you’re not going to do it very long, and if you don’t do it very long, your chances of changing the world are going to be pretty slim. You always have to be looking for new perspectives, new vantage points."
In his new book, <em></em>The Activist Angler</em>, Gallatin and Steinhardt Professor Stephen Duncombe discusses parallels that he observed between activism and angling when he began fishing during the height of the pandemic. NYU News joined Duncombe at NYC's Central Park lake where he shares some of the lessons he's learned.</p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/CgZ2oPB24Dc?si=UEYkmL2dOVLPh6Al" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://youtu.be/CgZ2oPB24Dc?si=UEYkmL2dOVLPh6Al" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Car Dreams: Debt, Carcerality and the Automobile</a>
        <p>A short film by Mychal Pagan and Gabriela Azevedo, inspired by the book by Julie Livingston and Andrew Ross.</p>
    </div>
</div>
<div class="video-card">
    <div class="video-img">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/uH7Z1lCVQe0?si=uGodm0voImNjswOT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a class="video-link" href="https://www.youtube.com/watch?v=uH7Z1lCVQe0" target="_blank"></a>
    </div>
    <div class="video-details">
        <a href="#">Maxmillian Alvarez on Breaking Points</a>
        <p>How The Pandemic Radicalized Workers | Breaking Points with Krystal and Saagar</p>
    </div>
</div>

