{{#unless theme_settings.recent_home_events}}
<div class="recent-main main-loader">
    <a href="/events/" class="page-heading">{{lang 'common.recent_title'}}</a>
    {{> components/orbooks/pre-loading}}
    <div class="recent-slide">
        <div class="rec-img">
            <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/recent-events2.jpg?t=1701125566">
        </div>
        <div class="rec-img">
            <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/recent-events.jpg?t=1701125567">
        </div>
        <div class="rec-img">
            <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/recent-events3.jpg?t=1701125564">
        </div>
       <!-- <div class="rec-img">
            <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/recent-event-img.png">
        </div>
        <div class="rec-img">
            <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/recent-event-img.png">
        </div>-->
    </div>
</div>
{{/unless}}
