<div class="home-subj-sidebar">
    <a class="sidebar-heading" href="/catalog/" target="_blank">{{lang 'common.sub_title'}}</a>
    <div class="sub-category-list">
        <!-- {{#each categories}}
            {{#if name '===' 'Catalog'}}
            {{#each children}}
                {{#if @index '<' '4'}}
                <div class="sub-category-item">
                    <a class="sub-category-link" href="{{url}}" title="{{name}}">
                        <div class="imageanimate">
                            {{#if image}}
                                <img src="{{getImage image 'thumbnail'}}" alt="{{name}}" width="179" height="228">
                            {{else}}
                                <img src="{{cdn 'assets/img/noimage.png'}}" alt="{{name}}" width="179" height="228">
                            {{/if}}
                            </div>
                        <p class="cat-name"><span>{{name}}</span></p>
                    </a>
                </div>
                {{/if}}
            {{/each}}
            {{/if}}
        {{/each}} -->
        <div class="sub-category-item">
            <a class="sub-category-link" href="/catalog/activism/" title="Activism">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons6.jpg?t=1704798899" alt="book" width="179" height="228">
                    </div>
                <p class="cat-name"><span>Activism</span></p>
            </a>
        </div>
        <div class="sub-category-item">
            <a class="sub-category-link" href="/politics-environment-current-affairs/" title="Politics and current affairs">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons.jpg?t=1704798908" alt="Politics and current affairs" width="179" height="228">
                    </div>
                <p class="cat-name"><span>Politics and Current Affairs</span></p>
            </a>
        </div>
        <div class="sub-category-item">
            <a class="sub-category-link" href="/catalog/feminism-gender-and-sexuality/" title="Feminism, Gender, and Sexuality">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons3.jpg?t=1704798905" alt="/feminism, gender and sexuality/" width="179" height="228">
                    </div>
                <p class="cat-name"><span>Feminism, Gender,and Sexuality</span></p>
            </a>
        </div>
        <div class="sub-category-item">
            <a class="sub-category-link" href="/catalog/history/" title="History">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons5.jpg?t=1704798902" alt="History" width="179" height="228">
                    </div>
                <p class="cat-name"><span>History</span></p>
            </a>
        </div>
        <div class="sub-category-item">
            <a class="sub-category-link" href="/catalog/the-middle-east/israel-palestine/" title="Middle East and Israel/ Palestine">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons2.jpg?t=1704798907" alt="Middle East" width="179" height="228">
                    </div>
                <p class="cat-name"><span>The Middle East</span></p>
            </a>
        </div>
        <div class="sub-category-item">
            <a class="sub-category-link" href="/catalog/journalism-media-and-films/" title="journalism media and films">
                <div class="imageanimate">
                        <img src="https://cdn11.bigcommerce.com/s-4rbj5oww8j/images/stencil/original/image-manager/sidebar-icons4.jpg?t=1704798903" alt="Journalism, Media and Films" width="179" height="228">
                    </div>
                <p class="cat-name"><span>Journalism, Media, and Films</span></p>
            </a>
        </div>
    </div>
    <a href="/catalog/" class="button button--primary sub-btn" target="_blank">{{lang 'common.view_btn'}}</a>
</div>
