{{#unless theme_settings.get_percentage}}
<div class="percentage-main">
    <div class="perc-left">
        {{#if theme_settings.percentage_text}}
            <h3>Get <span>{{theme_settings.percentage_text}}</span> % off!</h3>
        {{/if}}
    </div>
    <div class="perc-right">
        <div class="news-main" data-section-type="newsletterSubscription">
            {{#if settings.show_newsletter_box}}
                {{> components/common/subscription-form}}
            {{/if}}
        </div>
    </div>
</div>
{{/unless}}

{{#unless theme_settings.view_catalog}}
<div class="catalog-main">
    {{#if theme_settings.catalog_text}}
        <a href="{{theme_settings.catalog_link}}">{{theme_settings.catalog_text}}</a>
    {{/if}}
</div>
{{/unless}}

{{#unless theme_settings.need_ordering}}
<div class="order-main">
    {{#if theme_settings.ordering_text}}
        <a href="{{theme_settings.ordering_link}}">{{theme_settings.ordering_text}}</a>
    {{/if}}
</div>
{{/unless}}
